:root {
    color-scheme: light dark;
}

body {
    max-width: 800px;
    margin: 10px auto;
    padding: 0px 10px;
    font-size: 1.125rem;
    line-height: 1.2;
    max-width: 65ch;
}

nav a:not(:last-child) {
    margin-right: 10px;
}
